@import "bourbon"
@import "_reset.sass"
@import "_vars.sass"

body
	font-size: 16px
	line-height: 1.6
	font-family: "Roboto", sans-serif
	overflow-x: hidden
	height: 100%
	min-width: 769px
	color: $text-color

.hidden
	display: none

a
	color: $main-color
	text-decoration: none
	line-height: 1.3
	transition: all 0.5s ease
	&:hover
		color: $main-color
		text-decoration: none
		transform: rotate(360deg)
	&:link
		color: $main-color
		text-decoration: none
	&:visited
		color: $main-color
		text-decoration: none

button
	transition: box-shadow 0.3s ease
	&:hover
		box-shadow: 0 0 3px 0 $text-color

.wrapper
	position: relative
	min-height: 100%

header
	background-color: $text-color
	min-height: 125px
	padding-top: 20px
	color: #fff

	.logo
		width: 100%
		height: 60px
		margin-top: 10px
		background-image: url(../img/logo.svg)
		background-repeat: no-repeat
		background-size: 100% 100%
		background-position: center

	h1
		font-size: 2.5em
		text-transform: uppercase
		//text-align: center
		font-style: italic
		margin-top: 5px
		line-height: 1.8

	.contacts
		text-align: right

	.phone
		font-size: 0.915em
		line-height: 2.5

	.icons
		li 
			display: inline-block
			margin-left: 5px

	.icon
		display: block
		width: 26px
		height: 26px
		text-align: center
		font-size: 1.3em

section
	nav
		height: 100px
		text-align: center

		.start
			width: 250px
			height: 35px
			margin-top: 25px
			outline: none
			font-size: 1.3em
			font-weight: bold
			letter-spacing: 4px
			text-transform: uppercase
			transition: all 0.3s ease
			&:focus
				border: 2px solid $text-color

		fieldset
			font-size: 1.1em
			font-style: italic
			margin-top: 10px
			legend
				margin: 0 auto
			label
				font-size: 0.755em
				margin-left: 5px

	.wrap-field
		text-align: center
		width: 360px
		margin: 0 auto

	.field
		display: inline-block
		box-sizing: border-box
		height: 70px
		width: 70px
		font-size: 2em
		margin: 1px

	.player_1, .player_2
		box-shadow: 1px 1px 6px 1px $text-color
		background-color: $bg-color-grey
		text-align: center
		padding: 25px
		height: 370px
		&.off
			opacity: 0.3
		.avatar
			height: 140px
			background-repeat: no-repeat
			background-size: 80%
			background-position: center
			margin: 40px auto

	.player_1
		.avatar
			background-image: url("../img/svg_1.svg")
	.player_2
		.avatar
			background-image: url("../img/svg_2.svg")
	h2
		font-size: 1.75em
		font-weight: bold

	h3
		font-size: 1.25em
		padding-top: 10px
		font-weight: bold
		color: green
	
footer
	@extend header
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	min-height: 80px
	padding: 10px 0
	font-size: 0.835em

	h1, p, .logo, .phone
		opacity: 0.6

	.logo
		height: 30px
		margin-top: 20px
	p
		font-size: 0.835em
		line-height: 3
		margin-top: 27px

	.contacts
		font-size: 0.835em
	
	
#callback
	max-width: 360px
	width: 360px
	height: 300px
	margin: auto
	position: relative
	background-color: $bg-color
	border: 4px solid $main-color
	border-radius: 120px 0px
	text-align: center
	h1
		font-size: 4em
		color: #fff
		line-height: 2.2
	p
		color: #fff
		font-size: 2em
		margin-top: 70px

.mfp-popUp
	.mfp-close
		color: #fff
	&.mfp-bg
		opacity: 0
		transition: all 0.25s ease-out
		&.mfp-ready
			opacity: 0.8
		&.mfp-removing
			opacity: 0
	&.mfp-wrap
		.mfp-content
			opacity: 0
			transition: all 0.25s ease-out
		&.mfp-ready .mfp-content
			opacity: 1
		&.mfp-removing .mfp-content
			opacity: 0	

//ALWAYS END
@import "_media.sass"